.App {
  display: flex;
  justify-content: center;
  background-color: lightgrey;  
  height: 490px;
}

.heading {
  text-align: center;
  color:red;
  opacity: 0.5;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}


